.dark {
  background-color: rgb(34, 39, 46);
  color: #ADBAC7;
}

.dark {
  mark {
    color: #222;
    background-color: #ADBAC7;
  }

  a {
    color: #477dca;
  }

  .top-navigation {
    color: #ADBAC7;
  }

  .top-navigation:hover {
    color: whitesmoke;
  }
}
